<?xml version="1.0"?>
<config>
    <modules>
        <Leytech_SingleProductCategoryRedirect>
            <version>1.0.0</version>
        </Leytech_SingleProductCategoryRedirect>
    </modules>
    <global>
        <models>
            <leytech_singleproductcategoryredirect>
                <class>Leytech_SingleProductCategoryRedirect_Model</class>
            </leytech_singleproductcategoryredirect>
        </models>
        <helpers>
            <leytech_singleproductcategoryredirect>
                <class>Leytech_SingleProductCategoryRedirect_Helper</class>
            </leytech_singleproductcategoryredirect>
        </helpers>
        <events>
            <catalog_controller_category_init_after>
                <observers>
                    <leytech_singleproductcategoryredirect_redirect_observer>
                        <type>singleton</type>
                        <class>Leytech_SingleProductCategoryRedirect_Model_Observer</class>
                        <method>SingleProductCategoryRedirect</method>
                    </leytech_singleproductcategoryredirect_redirect_observer>
                </observers>
            </catalog_controller_category_init_after>
        </events>
    </global>
    <default>
        <leytech_singleproductcategoryredirect>
            <settings>
                <enable_ext>0</enable_ext>
            </settings>
        </leytech_singleproductcategoryredirect>
    </default>
</config>